<Configuration status="info" name="geek" packages="">
    <Appenders>
        <File name="file" fileName="app.log" append="true">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %m%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="file"/>
        </Root>
    </Loggers>

</Configuration>
